@charset "utf-8";
/* CSS Document */
h2{
	font-family: caveat;
	background-color: black;
	padding-left: 30px;
	border: 3px outset;
	margin-right: 30px;
	margin-left: 30px;
}
h2::after{
	content: "Learning is as Important as Washing Your Hands";
}
h2:hover{
	background-color: #282828;
	
}
h2:hover:after{
	content: "Quarantine Sucks, So does Deadlines";
}
.init{
	text-align: right;
	padding-right: 30px;
	font-family: sen;
}
p{
	margin-left: 30px;
	margin-right: 30px;
	font-family: Patrick Hand;
	
}
u{
	color:yellow;
}
a{
	color: yellow;
}
strong{
	color:red;
	font-size: 150%;
}
body{
	width: 1000px;
	margin: auto;
	border: 5px double;
	background-image: url(https://i.pinimg.com/originals/ff/aa/5c/ffaa5c87e45ae4e214072a496f7a72d4.jpg);
	color:aliceblue
}
@keyframes col{
	from {color:white;}
	to{color:yellow;}
}
.ml{
	animation-name: col;
}
img{
	border-radius: 15px;
	margin-right: 30px;
	margin-left: 20px;
	border: 5px solid white;
}
.webapp,img{
	height: 200px;
	
}
.hardware{
	padding-bottom: 120px;
}
span{
	font-size: 130%;
	color:#0CC2DE;
}
span:hover{
	color: yellow;
}